body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

svg:hover {
  fill: #f26b08;
  transition: all 0.2s linear;
}

*,
*:before,
:after {
  box-sizing: border-box;
}

/* header */
.header {
  padding: 20px 0;
  background: #000;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__input {
  width: 180px;
  margin-right: 20px;
  color: #fff;
  padding: 10px;
  background: none;
  border: 1px solid #525252;
}

.header__input:focus {
  border: 1px solid #f26b08;
}

.header__btn {
  padding: 10px 30px;
  background: #ab5211;
  color: #fff;
  transition: all 0.2s linear;
}

.header__btn:hover {
  background: #f26b08;
  transition: all 0.2s linear;
}

/* Slider */

.slider__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  object-fit: cover;
}

.slider {
  overflow: hidden;
  position: relative;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.arrowNext,
.arrowPrev {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.arrowNext {
  right: 70px;
}

.arrowPrev {
  left: 70px;
}

.slick-dots {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50px);
  justify-content: center;
  margin-bottom: 40px;
  padding: 16px 0;
  list-style: none;
  bottom: 40px;
}

.slick-dots li {
  margin: 10px;
  background: #fff;
  color: white;
}

.slick-slide img {
  max-width: 100%;
}

.slick-dots button {
  display: block;
  background: #000;
  width: 22px;
  height: 22px;
  padding: 0;
  border: none;
  color: transparent;
}

.slick-dots li.slick-active button {
  background-color: white;
}

.slick-dots li button:hover {
  background-color: #f26b08;
  transition: all 0.2s linear;
}

.slider__info {
  text-align: center;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.slider__title {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
  text-shadow: #000 1px 2px 3px;
}

.slider__text {
  font-size: 40px;
  width: 650px;
  color: #fff;
  text-shadow: #000 3px 3px 5px;
}

.slider__btn {
  background: #000;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 90px;
  padding: 13px 45px;
  transition: all 0.2s linear;
}

.slider__btn:hover {
  background: #fff;
  color: #000;
  transition: all 0.2s linear;
}

/* advertisers */

.advertisers {
  padding: 100px 0;
  background-color: #37393f;
  overflow: hidden;
}

.advertisers__container {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-around;
}

.advertisers__item {
  width: 339px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advertisers__text {
  font-size: 16px;
  margin-bottom: 35px;
  line-height: 1.2;
}

.advertisers__title {
  text-transform: uppercase;
  font-size: 30px;
  margin: 60px 0 30px;
  font-weight: bold;
}

.advertisers__btn {
  cursor: pointer;
  background-color: #ab5211;
  color: white;
  padding: 9px 40px;
  transition: all 0.2s linear;
  margin-top: auto;
}

.advertisers__btn:hover {
  background-color: #f26b08;
  transition: all 0.2s linear;
}

/* webmaster */

.webmaster {
  font-family: 'Myriad Pro', sans-serif;
  font-weight: 400;
  padding: 80px 0 40px;
  color: #000;
  display: flex;
  overflow: hidden;
}

.webmaster__container {
  display: flex;
  justify-content: space-between;
}

.webmaster__icon {
  width: 550px;
}

.webmaster__item {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component__title {
  font-size: 50px;
  color: #f26b08;
  text-transform: uppercase;
  margin: 30px 0 20px;
}
.component__subtitle {
  font-size: 23px;
  margin-bottom: 25px;
  color: #000;
}
.component__text {
  width: 500px;
  font-size: 18px;
  color: #000;
  line-height: 1.2;
  margin-bottom: 20px;
}

.webmaster__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Partner */

.partner {
  font-family: 'Myriad Pro', sans-serif;
  padding: 70px 0;
  color: #000;
  width: 100%;
  background-image: url('../img/partner.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  object-fit: cover;
}

.partner__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 750px;
  background: #fff;
  padding: 35px 80px;
  opacity: 0;
}

.partner__item.show {
  transition: opacity 2.5s linear;
  opacity: 1;
}

/* About */

.about {
  font-family: 'Myriad Pro', sans-serif;
  padding: 80px 0;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.component__text-about {
  width: 800px;
}

/* target */

.target {
  font-family: 'Myriad Pro', sans-serif;
  padding: 80px 0;
  background-color: #e7e7e7;
  color: #000;
  overflow: hidden;
}

.target__container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.target__item {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.target__text {
  font-size: 18px;
  margin-bottom: 20px;
}

.target__img {
  margin-bottom: 60px;
}

/* footer */

.footer {
  color: #53555a;
  font-weight: 300;
  padding: 40px 0;
  background-color: #37393f;
}

.footer__container {
  display: flex;
  align-items: center;
  position: relative;
}

.footer__item {
  display: flex;
}

.footer__info {
  margin: 0 20px;
}

.footer__text,
.footer__email {
  margin-bottom: 10px;
}

.footer__email {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer__email:hover {
  color: #f26b08;
  border-bottom: 1px dotted #f26b08;
}

.footer__copyright {
  position: absolute;
  right: 0;
}
